html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  font-size: 1rem;
}
body {
  padding-top: 80px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p {
  line-height: 1.7;
  font-size: 15px;
}

.breadcrumb {
  color: #84878e !important;
  padding-left: 10px;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.selection-blocks {
  padding: 20px 25px;
}
.heading {
  font-size: 15px;
  font-weight: bold;
}

.side-nav-heading {
  font-size: 0.9375rem !important;
  font-weight: bold !important;
}
.grid-container {
  margin-top: 5px;
  margin-bottom: 60px;
}
.pagination {
  position: absolute;
}
.page-item.active .page-link {
  background-color: #1d9d47;
  border-color: #1d9d47;
}
.page-link {
  color: #333333;
}
.hide {
  display: none;
}
.dropzone {
  width: 500px;
  height: 500px;
  background-color: #f8f9fa;
  border: 1px solid #e0e1e3;
}
.hyiOnG {
  height: 400px !important;
  width: 400px !important;
}
.dauDdw span {
  font-size: 16px !important;
}
.form-check-input[type="checkbox"] {
  border-radius: 0.15em;
  border-color: #555555;
  border-width: 1px;
  width: 14px;
  height: 14px;
}
.form-check {
  margin-bottom: 0px !important;
}
#flowers .form-check{
  width: 134px; 
}
#four-column .form-check {
  width: 70px!important;
}
.form-check {
  width: 100px;
}
.form-check-label {
  font-size: 12px;
}
.form-check-label img {
  margin-top: -3px;
}
.color-value {
  width: 14px;
  height: auto;
  float: left;
}
.color-value img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.disable-pointer-events {
  pointer-events: none;
}
.form-check-input{
  margin-top:0.4em;
  margin-left: -1.2em !important;
}
.accordion-body {
  padding: 1rem 0.8rem !important;
}
.accordion-item:last-of-type .accordion-button.collapsed{
  background: #ffffff;
}
.accordion-button.jsx-2615534029:not(.collapsed){
  background-color: #ffffff !important;
}