.heading {
  font-size: 2rem;
  color: #0e9d47;
}

.table-container {
  margin: 20px;
}

.data-table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.data-table th, .data-table td {
  padding: 12px 15px;
  text-align: left;
}

.data-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table tr:hover {
  background-color: #ddd;
}

.table-paragraph {
  margin-top: 20px; /* Adjust the spacing as needed */
  padding: 10px;
  background-color: #f2f2f2; /* Match the table background */
  border: 1px solid #ddd;
}