.block {
    padding: 30px 20px;
    height: 300px;
    .imgContent {
      border-radius: 50%;
      border: 2px solid #333333;
    }
    .h4Content {
      padding-top: 15px;
      font-size: 18px;
      font-weight: bold;
    }
    .spanContent {
      font-size: 14px;
    }
  }