.contentBox {
    width: 220px;
    height: auto;
    overflow: hidden;
    margin-bottom: 40px;
  }

  .imgContainer {
    overflow: hidden;
    width: 100%;
    height: 230px;
    border: 1px solid #e0e1e3;
    .imgContent {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .hidden {
    display: none;
  }