.search {
  position: relative;
  height: 45px;
  width: 280px;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search .inputContainer {
  width: 280px;
  height: 45px;
  text-indent: 20px;
  border: 1px solid #d6d4d4;
}
.search .error {
  width: 280px;
  height: 45px;
  text-indent: 31px;
}
.input-feedback {
  color: #c56708;
  font-size: 14px;
  margin-top: -4px;
}
.search .inputContainer:focus {
  box-shadow: none;
  border: 1px solid #43bccd !important;
}

.search .bi-search {
  position: absolute;
  top: 13px;
  left: 12px;
}

.search .buttonContainer {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 35px;
  width: 80px;
  background: #0e9d47;
  border: 1px solid #0e9d47 !important;
}

.search-fluid {
  position: relative;
  height: 45px;
  width: 600px;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search-fluid .inputContainer:focus {
  box-shadow: none;
  border: 1px solid #43bccd !important;
}

.search-fluid .buttonContainer {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 35px;
  width: 80px;
  background: #0e9d47;
  border: 1px solid #0e9d47 !important;
}
.search-fluid .bi-search {
  position: absolute;
  top: 13px;
  left: 16px;
  margin-right: 5px;
}

.search-fluid .inputContainer {
  width: 600px;
  height: 45px;
  text-indent: 30px;
  font-size: 15px;
  border: 1px solid #d6d4d4;
}