.sidebar {
    border-radius: 10px;
    padding: 10px;
    margin-top: 0px;
    height: auto;
    margin-bottom: 25px;
    padding-bottom: 25px;
  }
  .disableSidebar {
    filter: grayscale(100%);
    opacity: 0.4;
    pointer-events: none;
  }